<div class="main-wrapper">
  <div class="table-content">
    <table class="table">
      <tr >
        <td>
          <div class="card">
            <div class="card-image">
              <img src="../../assets/images/imagetest.jpg" width="100" height="70"/> 
            </div>
            <div class="card-body">
              <h6 class="bold">Product Name</h6> 
              <p>Color: <span class="bold">Red/White</span></p> 
              <p>Size: <span class="bold">L</span></p>
            </div>
          </div>
        </td>         
        <td style="font-weight: bold; color: red;"> 45.00$</td>
        <td style="font-weight: bold;"> 45.00$</td>
        <td>  Quantity <input type="text" style="width: 50px;" value="1" /> <i>&nbsp;</i><span class="numberCircle">L</span></td>
      </tr>
    
      <tr >
        <td>
          <div class="card">
            <div class="card-image">
              <img src="../../assets/images/imagetest.jpg" width="100" height="70"/> 
            </div>
            <div class="card-body">
              <h6 class="bold">Product Name</h6> 
              <p>Color: <span class="bold">Red/White</span></p> 
              <p>Size: <span class="bold">L</span></p>
            </div>
          </div>
        </td> 
        
        <td style="font-weight: bold; color: red;"> 45.00$</td>
        <td style="font-weight: bold;"> 45.00$</td>
        <td>  Quantity <input type="text" style="width: 50px;" value="1" /> <i>&nbsp;</i><span class="numberCircle">L</span></td>
      </tr>
    
      <tr >
        <td>
          <div class="card">
            <div class="card-image">
              <img src="../../assets/images/imagetest.jpg" width="100" height="70"/> 
            </div>
            <div class="card-body">
              <h6 class="bold">Product Name</h6> 
              <p>Color: <span class="bold">Red/White</span></p> 
              <p>Size: <span class="bold">L</span></p>
            </div>
          </div>
        </td> 
        
        <td style="font-weight: bold; color: red;"> </td>
        <td style="font-weight: bold; "> 45.00$</td>
        <td>  Quantity <input type="text" style="width: 50px;" value="1" /> <i>&nbsp;</i><span class="numberCircle">L</span></td>
      </tr>
    
    </table>
    <span class="badge badge-sale">Sale Time</span>
  </div>
</div>