<div>
  <form>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div class="form-group card">
          <input id="order1" type="radio" name="orderOptions" value="order1" />
          <label class="label" for="order1">
            <img src="../../assets/images/imagetest.jpg" alt="master" />
            <div class="card-body">
              <div class="main-description">
                <h5>DPD Deleviries</h5>
                <p>Expected delivery: Friday, 28</p>
              </div>
              <div class="price">
                <h5>$5.25</h5>
              </div>
            </div>
          </label>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div class="form-group card">
          <input id="order2" type="radio" name="orderOptions" value="order2" />
          <label class="label" for="order3">
            <img src="../../assets/images/imagetest.jpg" alt="master" />
            <div class="card-body">
              <div class="main-description">
                <h5>FedEx Fast Delivery</h5>
                <p>Expected delivery: Friday, 28</p>
              </div>
              <div class="price">
                <h5>$5.25</h5>
              </div>
            </div>
          </label>
      </div>
    </div>
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div class="form-group card">
          <input id="order3" type="radio" name="orderOptions" value="order3" />
          <label class="label" for="order3">
            <img src="../../assets/images/imagetest.jpg" alt="master" />
            <div class="card-body">
              <div class="main-description">
                <h5>UPS Deliveries</h5>
                <p>Expected delivery: Friday, 28</p>
              </div>
              <div class="price">
                <h5>$5.25</h5>
              </div>
            </div>
          </label>
      </div>
    </div>
      <div class="col-xl-6 col-lg-6 col-md-12">
        <div class="form-group card">
          <input id="order4" type="radio" name="orderOptions" value="order4" />
          <label class="label" for="order4">
            <img src="../../assets/images/imagetest.jpg" alt="master" />
            <div class="card-body">
              <div class="main-description">
                <h5>Collect in Person</h5>
                <p>Expected delivery: Thursday, 28</p>
              </div>
              <div class="price">
                <h5>$5.25</h5>
              </div>
            </div>
          </label>
      </div>
    </div>
  </div>
  </form>
</div>

