<!--The content below is only a placeholder and can be replaced.-->
<div id="navBar">
    <app-nav-bar></app-nav-bar>
</div>
<div class="container" >
  <div>
    <div class="row mt-5">
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
        <h4>Order</h4>
        <app-orders></app-orders>
      </div>
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <h4>Payment Summary</h4>
        <app-payment-summary></app-payment-summary>
      </div>
      <div class="row my-5 align-items-center">
        <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12">
          <h4>Order</h4>
          <app-order-cards></app-order-cards>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <h4>Payment Summary</h4>
        <app-payment></app-payment>
      </div>
    </div>
  </div><!--end container-->

</div>
<router-outlet></router-outlet>
