.card-white{
    background-color: white;
    padding: 5px;
    border-radius: 4px;
    overflow: hidden;
    margin-bottom: 15px;
}
.card-white h4{
    font-size: 16px;
    line-height: 24px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.bold{
    font-weight: bold;
}
.card-white p{
    font-size: 13px;
    line-height: 21px;
    font-family: 'Times New Roman', Times, serif;

}
