<div>
  <div style="background-color: white; padding: 20px;">
    <div class="d-block">
      <button  class="btn btn-light w-100"> UNREGISTERED ACCOUNT</button>
      <p class="d-flex justify-content-between">
        <span>
          Transition Code
        </span>
        <span class="bold">XCVFDH85HFGGD</span>
      </p>
    </div>
    <div class="d-flex justify-content-between">
      <input type="text" class="from-control" placeholder="COUPUN CODE" /> 
      <button type="submit" class="btn btn-primary"> Apply</button>
    </div>
      <hr/>
      <div class="bottom-description">
        <p class="d-flex justify-content-between">
          <span>
            Order Summary
          </span>
          <span class="bold">$122</span>
        </p>
        </div>
        <div class="bottom-description">
          <p class="d-flex justify-content-between">
            <span>
              Additional Service Summary
            </span>
            <span class="bold">$10</span>
          </p>
          </div>
          <div class="bottom-description">
            <p class="d-flex justify-content-between">
              <span>
                Total Ammount
              </span>
              <span class="bold">$132</span>
            </p>
            </div>
            <hr/>
            <div class="d-block">
              <button  class="btn btn-light w-100"> Sale delieverd in <span style="color: red;"> 21 Hours,30 Minutes</span></button>
            </div>
  </div>
</div>
